/* 
    General Styles
*/
.card-img-top {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
